
<div class="span8">
  <% @snippets.each do |snippet| %>
    <h2><%=link_to snippet.name,snippet %></h2>
    <p>语言类别：<%=link_to snippet.lan_name,snippet.category %> &nbsp;&nbsp;<%= link_to snippet.author, "#"%> </p>
    <p><%= snippet.description %> </p>
    <p>
      <%= snippet.created_at.strftime("%Y-%m-%-d %H:%M:%S") %> 
      <%  if current_user #&& current_user.id == snippet.user.id %>
        <%= link_to 'Edit', edit_snippet_path(snippet) %> 
        <%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <%  end %>
    </p>
    <p><%=link_to "View details »",snippet,:class => "btn" %>
    <% end %>
</div>



