<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @snippet.name %>
</p>

<p>
  <b>Language:</b>
  <%= @snippet.lan_name %>
</p>

<p>
  <b>Description</b>
  <%=@snippet.description%>
</p>

<p>
  <b>Highlighted code:</b>
  <% if @snippet.highlighted_code.present? %>
    <%=raw @snippet.highlighted_code %>
  <%else%>
  <pre><%= @snippet.source_code %></pre>
<% end %>
</p>
<%= link_to '下载代码',download_snippet_path(@snippet) %>
<%  if current_user #&& current_user.id == snippet.user.id %>
  <%= link_to 'Edit', edit_snippet_path(@snippet) %> 
  <%= link_to 'Destroy', @snippet, method: :delete, data: { confirm: 'Are you sure?' } %> 
<%  end %>
<%= link_to 'Back', snippets_path %> 

