<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @category.name %>
</p>

<% @snippets.each do |s| %>
<p>
  <b>Name:</b>
  <%= s.name %>
</p>

<p>
  <b>Language:</b>
  <%= s.lan_name %>
</p>

<p>
  <b>Description</b>
  <%=s.description%>
</p>

<p>
  <b>Highlighted code:</b>
  <% if s.highlighted_code.present? %>
    <%=raw s.highlighted_code %>
  <%else%>
    <pre><%= s.source_code %></pre>
  <% end %>
</p>

<% end %>

<%= link_to 'Back', snippets_path %>
