<p id="notice"><%= notice %></p>

<p>
  <b><%= @category.name %></b> 分类下的代码
</p>

<% @snippets.each do |s| %>
<p>
  
  <h3><%=link_to s.name, s %></h3>
</p>
<p>
  <b>Author:</b>
  <%= s.author %>
</p>
<p>
  <b>Language:</b>
  <%= s.lan_name %>
</p>

<p>
  <b>Description</b>
  <%=s.description%>
</p>

<p>
  <% if s.highlighted_code.present? %>
    <%=raw s.highlighted_code %>
  <%else%>
    <pre><%= s.source_code %></pre>
  <% end %>
</p>

<% end %>

<%= link_to 'Back', snippets_path %>
